
<div class="name">
  <div class="online_indicator" />{{model.name.first}} {{model.name.last}}</div>
</div>

<ul class="chat_log"></ul>

<form action="">
  <input name="chat" type="text">
  <input type="submit" value="Send">
</form>
