<h1>The Social Place</h1>

<h2>Activity</h2>

<form>
  <fieldset>
    <legend>Update status</legend>

    <input name="status" type="text">
    <input type="submit" value="Save">
  </fieldset>
</form>

<ul class="status_list"></ul>

<p>
  <a href="#profile/me" data-spa-link="true">To my profile</a>
</p>

<p>
  <a href="#contacts/me" data-spa-link="true">Friends</a>
</p>
