
<h1>Login</h1>

<form>
  <fieldset>
    <legend>Credentials</legend>

    <p class="error" id="error"></p>

    <p>
      <label>
        Email: <input name="email" type="email">
      </label>
    </p>

    <p>
      <label>
        Password: <input name="password" type="password">
      </label>
    </p>

    <input type="submit" value="Login">
  </fieldset>
</form>

<ul>
  <li><a href="#forgotpassword" data-spa-link="true">Lost Password?</a></li>
  <li><a href="#register" data-spa-link="true">Sign Up</a></li>
</ul>
