<h1>{{name.first}} {{name.last}}</h1>

<form>
  <fieldset>
    <legend>Add Status</legend>

    <input name="status" type="text">
    <input type="submit" value="Add">
  </fieldset>
</form>

<h2>Status Notifications</h2>

<ul class="status_list"></ul>
