
<h1>Register</h1>

<form>
  <fieldset>
    <legend>Your Name</legend>

    <p>
      <label>
        First: <input name="firstName" type="text">
      </label>
    </p>

    <p>
      <label>
        Last: <input name="lastName" type="text">
      </label>
    </p>
  </fieldset>

  <fieldset>
    <legend>Email Address</legend>

    <p>
      <label>
        Email: <input name="email" type="email">
      </label>
    </p>

    <p>
      <label>
        Email (confirm): <input name="cemail" type="email">
      </label>
    </p>
  </fieldset>

  <fieldset>
    <legend>Password</legend>

    <p>
      <label>
        Password: <input name="password" type="password">
      </label>
    </p>

    <p>
      <label>
        Password (confirm): <input name="cpassword" type="password">
      </label>
    </p>
  </fieldset>

  <p>
    <input type="submit" value="Register">
  </p>
</form>
