<h1>Register</h1>

<form>
  <fieldset>
    <legend>Your Name</legend>

    <label>
      First: <input name="firstName" type="text">
    </label>

    <label>
      Last: <input name="lastName" type="text">
    </label>
  </fieldset>

  <fieldset>
    <legend>Email Address</legend>

    <label>
      Email: <input name="email" type="email">
    </label>

    <label>
      Email (confirm): <input name="cemail" type="email">
    </label>
  </fieldset>

  <fieldset>
    <legend>Password</legend>

    <label>
      Password: <input name="password" type="password">
    </label>

    <label>
      Password (confirm): <input name="cpassword" type="password">
    </label>
  </fieldset>

  <p>
    <input type="submit" value="Register">
  </p>
</form>
