/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio, canvas, img, svg, video {
  vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/**
*
* Custom styles
*
**/

form {
  width: 400px;
}

#chat {
  position: absolute;
  right: 0;
  bottom: 0;
}

#chat form {
  width: auto;
}

.chat_list {
  float: right;
  border: 1px solid black;
  border-bottom: none;
  list-style-type: none;
  overflow: auto;
  width: 120px;
  height: 300px;
  margin: 0;
  padding: 0 0 5px 0;
  box-sizing: border-box;
}

.chat_list li {
  width: 100%;
  padding: 10px 0;
  background-color: #0099ff;
}

.chat_list li:nth-child(odd) {
  background-color: #80ccff;
}

.chat_list span {
  margin: 10px;
}

.chat_session {
  float: left;
  width: 250px;
  height: 300px;
  padding: 5px;
  border: 1px solid #000;
  border-right: none;
  border-bottom: none;
  box-sizing: border-box;
}

.online_indicator {
  float: left;
  width: 15px;
  height: 16px;
  margin-left: 4px;
  margin-right: 4px;
  background-image: url('/images/trafficlight.png');
}
.online_indicator.online {
  background-position: -15px 0;
}
